swagger: '2.0'
schemes:
  - http
  - https
host: api.liveen.io
basePath: /v1
info:
  description: |
    이 명세서는 리빈 프로젝트의 API 설계 명세서입니다. (작성자: 이도현)
  version: 1.0.0-beta
  title: Liveen Project (for beta)
  termsOfService: 'http://swagger.io/terms/'
  contact:
    email: cailhuiris@finotek.co.kr
  x-logo:
    url: 'liveen_logo.png'
tags:
  - name: user
    description: 사용자 기능
  - name: content
    description: 컨텐츠 및 위치 저장 기능
  - name: wallet
    description: 지갑 기능
x-tagGroups:
  - name: Fundamental Logic
    tags:
      - user
      - content
      - wallet
      - policy
      - common
      - push
x-servers:
  - url: //api.liveen.io/v1
    description: Production Server
  - url: //test.liveen.io/v1
    description: Test Server
paths:
  # 프로모션 인증
  /user/verify/promotion:
    post:
      tags:
        - user
      summary: |
        베타 테스트 프로모션 코드 또는
        QR코드가 유효한것인지 아닌 것인지 검증한다
      description: 관리자에 의해 기간별 프로모션 코드를 검증
      operationId: verifyPromotion
      produces:
        - application/json
      parameters:
        - in: header
          name: lang
          description: |
            리턴 메시지의 언어를 구별할 때 사용한다.

            현재는 'en', 'ko' 두가지 값이 있으며

            헤더를 정하지 않은 경우 기본값으로 'en'값이 설정된다.
          type: string
        - in: body
          name: body
          description: Promotion Verification
          required: true
          schema:
            $ref: '#/definitions/VerifyPromotion'
      responses:
        default:
          description: Successful Operation
          schema:
            $ref: '#/definitions/ResponseMessage'
        '400':
          description: 입력값의 형식이 틀렸을 때 발생
          schema:
            $ref: '#/definitions/FormError'
        '401':
          description: 유효한 프로모션 코드 혹은 QR코드가 아닌 경우 발생한다.
          schema:
            $ref: '#/definitions/ResponseMessage'
        '403':
          description: 프로모션을 사용할 수 있는 기간이 아닌경우 발생한다.
          schema:
            $ref: '#/definitions/ResponseMessage'
  # 사용자 가입
  /user/register:
    post:
      tags:
        - user
      summary: 사용자 가입
      description: 사용자 가입 이 후, 유효한 이메일 계정인지 확인하기 위해 해당 이메일로 승인 URL을 전송합니다.
      operationId: createUser
      produces:
        - application/json
      parameters:
        - in: header
          name: lang
          description: |
            리턴 메시지의 언어를 구별할 때 사용한다.

            현재는 'en', 'ko' 두가지 값이 있으며

            헤더를 설정하지 않은 경우 기본값으로 'en'값이 설정된다.
          type: string
        - in: body
          name: body
          description: Create user object
          required: true
          schema:
            $ref: '#/definitions/CreateUser'
      responses:
        default:
          description: Successful Operation
          schema:
            $ref: '#/definitions/ResponseMessage'
        '400':
          description: 입력값의 형식이 틀렸을 때 발생
          schema:
            $ref: '#/definitions/FormError'
        '401':
          description: 등록된 프로모션 코드 or QR코드값이 아닌경우 발생한다.
          schema:
            $ref: '#/definitions/ResponseMessage'
        '403':
          description: 프로모션을 사용할 수 있는 기간이 아닌경우 발생한다.
          schema:
            $ref: '#/definitions/ResponseMessage'
        '409':
          description: 중복된 이메일로 가입을 요청했을 때 발생합니다.
          schema:
            $ref: '#/definitions/ResponseMessage'
  /user:
    # 사용자 정보 조회
    get:
      tags:
        - user
      summary: 사용자 정보 조회
      operationId: getUser
      produces:
        - application/json
      parameters:
        - in: header
          name: lang
          description: |
            리턴 메시지의 언어를 구별할 때 사용한다.

            현재는 'en', 'ko' 두가지 값이 있으며

            헤더를 설정하지 않은 경우 기본값으로 'en'값이 설정된다.
          type: string
        - in: header
          name: access-token
          description: 사용자 세션 토큰
          required: true
          type: string
      responses:
        default:
          description: Successful Operation
          schema:
            $ref: '#/definitions/User'
        '401':
          description: 접근토큰이 유효하지 않을 때 발생한다.
          schema:
            $ref: '#/definitions/ResponseMessage'
        '500':
          description: 얘기치 못한 서버 에러 시 발생
          schema:
            $ref: '#/definitions/ResponseMessage'
  # 사용자 정보 수정
    put:
      tags:
        - user
      summary: 사용자 정보 수정
      operationId: updateUser
      produces:
        - application/json
      parameters:
        - in: header
          name: lang
          description: |
            리턴 메시지의 언어를 구별할 때 사용한다.

            현재는 'en', 'ko' 두가지 값이 있으며

            헤더를 설정하지 않은 경우 기본값으로 'en'값이 설정된다.
          type: string
        - in: header
          name: access-token
          description: 사용자 세션 토쿤
          required: true
          type: string
        - in: body
          name: body
          description: Upload profile image.
          required: true
          schema:
            $ref: '#/definitions/UpdateUser'
      responses:
        default:
          description: Successful Operation
          schema:
            $ref: '#/definitions/ResponseMessage'
        '400':
          description: 입력값의 형식이 틀렸을 때 발생한다.
          schema:
            $ref: '#/definitions/FormError'
        '401':
          description: 접근토큰이 유효하지 않을 때 발생한다.
          schema:
            $ref: '#/definitions/ResponseMessage'
        '409':
          description: 닉네임이 중복되는 경우 발생한다.
          schema:
            $ref: '#/definitions/ResponseMessage'
        '500':
          description: 얘기치 못한 서버 에러 시 발생
          schema:
            $ref: '#/definitions/ResponseMessage'
  # 회원탈퇴
  /user/deregister:
    delete:
      tags:
        - user
      summary: 회원탈퇴
      description: 회원 탈퇴 기능을 하는 API이다. 회원 탈퇴 시 기존에 저장된 접근 토큰은 삭제되며 이후 로그인에도 제한된다.
      operationId: deregister
      produces:
        - application/json
      parameters:
        - in: header
          name: lang
          description: |
            리턴 메시지의 언어를 구별할 때 사용한다.

            현재는 'en', 'ko' 두가지 값이 있으며

            헤더를 설정하지 않은 경우 기본값으로 'en'값이 설정된다.
          type: string
        - in: header
          name: access-token
          description: 사용자 접근 토큰
          required: true
          type: string
      responses:
        default:
          description: Successful Operation
          schema:
            $ref: '#/definitions/ResponseMessage'
        '400':
          description: 헤더로 엑세스 토큰이 전달되지 않았을 때 발생하는 에러입니다.
          schema:
            $ref: '#/definitions/ResponseMessage'
        '500':
          description: 얘기치 못한 서버 에러 시 발생
          schema:
            $ref: '#/definitions/ResponseMessage'
  # 이메일 인증
  /user/activate:
    post:
      tags:
        - user
      summary: 이메일 인증
      description: 회원가입 이후 이메일로 전송된 인증번호를 입력해야 회원가입이 완료된다.
      operationId: activateEmail
      produces:
        - application/json
      parameters:
        - in: header
          name: lang
          description: |
            리턴 메시지의 언어를 구별할 때 사용한다.

            현재는 'en', 'ko' 두가지 값이 있으며

            헤더를 설정하지 않은 경우 기본값으로 'en'값이 설정된다.
          type: string
        - in: body
          name: body
          description: Validate E-Mail
          required: true
          schema:
            $ref: '#/definitions/ActivateEmail'
      responses:
        default:
          description: Successful Operation
          schema:
            $ref: '#/definitions/ResponseMessage'
        '400':
          description: 입력값의 형식이 틀렸을 때 발생
          schema:
            $ref: '#/definitions/FormError'
        '401':
          description: 활성화 토큰이 일치하지 않을 때 발생한다.
          schema:
            $ref: '#/definitions/ResponseMessage'
        '404':
          description: 사용자 정보를 찾을 수 없을 때 발생한다.
          schema:
            $ref: '#/definitions/ResponseMessage'
        '500':
          description: 서버 에러 발생시 발생한다.
          schema:
            $ref: '#/definitions/ResponseMessage'
  # 비밀번호 초기화 메일 발송
  /user/send_init_password_mail:
    post:
      tags:
        - user
      summary: 비밀번호 초기화 메일 발송
      description: 이메일을 받으면 해당 이메일로 초기화 메일을 발송한다.
      operationId: sendInitPasswordMail
      produces:
        - application/json
      parameters:
        - in: header
          name: lang
          description: |
            리턴 메시지의 언어를 구별할 때 사용한다.

            현재는 'en', 'ko' 두가지 값이 있으며

            헤더를 설정하지 않은 경우 기본값으로 'en'값이 설정된다.
          type: string
        - in: body
          name: body
          description: 비밀번호 초기화 메일을 발송할 이메일을 입력받는다.
          required: true
          schema:
            $ref: '#/definitions/OnlyEmail'
      responses:
        default:
          description: Successful Operation
          schema:
            $ref: '#/definitions/ResponseMessage'
        '400':
          description: 입력값의 형식이 틀렸을 때 발생
          schema:
            $ref: '#/definitions/FormError'
        '404':
          description: 해당 이메일 정보로 사용자를 찾을 수 없을 때 발생한다.
          schema:
            $ref: '#/definitions/ResponseMessage'
        '423':
          description: 이미 탈퇴한 회원일 경우 발생한다.
          schema:
            $ref: '#/definitions/ResponseMessage'
        '500':
          description: 서버 에러 발생시 발생한다.
          schema:
            $ref: '#/definitions/ResponseMessage'
  # 지갑 등록
  /user/add/wallet:
    post:
      tags:
        - user
      summary: 지갑 주소 등록하기
      operationId: registerWalletAddress
      produces:
        - application/json
      parameters:
        - in: header
          name: lang
          description: |
            리턴 메시지의 언어를 구별할 때 사용한다.

            현재는 'en', 'ko' 두가지 값이 있으며

            헤더를 설정하지 않은 경우 기본값으로 'en'값이 설정된다.
          type: string
        - in: header
          name: access-token
          description: 사용자 접근 토큰
          required: true
          type: string
        - in: body
          name: body
          description: 기기로 푸시하기 위한 앱 키 등록
          required: true
          schema:
            $ref: '#/definitions/ApplyWallet'
      responses:
        default:
          description: Successful Operation
          schema:
            $ref: '#/definitions/ResponseMessage'
        '401':
          description: 접근토큰이 유효하지 않을 때 발생한다.
          schema:
            $ref: '#/definitions/Unauthorized'
        '500':
          description: 얘기치 못한 서버 에러 시 발생
          schema:
            $ref: '#/definitions/ResponseMessage'
  # 지갑 주소 유효성 검사
  /user/check_valid_wallet:
    get:
      tags:
        - user
      summary: 지갑 주소 유효성 검사
      description: |
        과거 지갑 생성을 할 때 지갑 주소가 error로 표기된 사람들이 있었음,

        그 사람들에게는 따로 지갑을 다시 만들라는 안내메시지를 표기하게끔 클라이언트에서 처리하는 용도로 구현함
      operationId: checkWalletAddressValid
      produces:
        - application/json
      parameters:
        - in: header
          name: access-token
          description: 사용자 접근 토큰
          required: true
          type: string
      responses:
        default:
          description: Successful Operation
          schema:
            $ref: '#/definitions/HasValidWallet'
        '401':
          description: 접근토큰이 유효하지 않을 때 발생한다.
          schema:
            $ref: '#/definitions/Unauthorized'
        '500':
          description: 얘기치 못한 서버 에러 시 발생
          schema:
            $ref: '#/definitions/ResponseMessage'
  # 프로필 사진 업로드 
  /user/profile:
    post:
      tags:
        - user
      summary: 프로필 사진 업로드
      operationId: uploadProfileImage
      produces:
        - application/json
      parameters:
        - in: header
          name: lang
          description: |
            리턴 메시지의 언어를 구별할 때 사용한다.

            현재는 'en', 'ko' 두가지 값이 있으며

            헤더를 설정하지 않은 경우 기본값으로 'en'값이 설정된다.
          type: string
        - in: header
          name: access-token
          description: 사용자 접근 토큰
          required: true
          type: string
        - in: body
          name: body
          description: Upload profile image.
          required: true
          schema:
            $ref: '#/definitions/UserProfileUpload'
      responses:
        default:
          description: Successful Operation
          schema:
            $ref: '#/definitions/ResponseMessage'
        '400':
          description: 입력값의 형식이 틀렸을 때 발생
          schema:
            $ref: '#/definitions/FormError'
        '401':
          description: 접근토큰이 유효하지 않을 때 발생한다.
          schema:
            $ref: '#/definitions/ResponseMessage'
        '500':
          description: 업로드에 실패했을 때 발생합니다.
          schema:
            $ref: '#/definitions/ResponseMessage'
  # 로그인
  /user/login:
    post:
      tags:
        - user
      summary: 로그인
      operationId: login
      produces:
        - application/json
      parameters:
        - in: header
          name: lang
          description: |
            리턴 메시지의 언어를 구별할 때 사용한다.

            현재는 'en', 'ko' 두가지 값이 있으며

            헤더를 설정하지 않은 경우 기본값으로 'en'값이 설정된다.
          type: string
        - in: body
          name: body
          description: 로그인
          required: true
          schema:
            $ref: '#/definitions/Login'
      responses:
        default:
          description: Successful Operation
          schema:
            $ref: '#/definitions/LoginResult'
        '404':
          description: 아이디와 비밀번호가 일치하지 않을 때 발생한다.
          schema:
            $ref: '#/definitions/LoginFailedResult'
        '409':
          description: 타 기기에서 이미 로그인 하고 있는 경우에 리턴한다.
          schema:
            $ref: '#/definitions/ResponseMessage'
        '423':
          description: 회원정보는 존재하나 이메일 인증은 거치지 않은 경우 리턴한다.
          schema:
            $ref: '#/definitions/ResponseMessage'
        '500':
          description: 얘기치 못한 서버 에러 시 발생
          schema:
            $ref: '#/definitions/ResponseMessage'
  # 로그아웃
  /user/logout:
    post:
      tags:
        - user
      summary: 로그아웃
      operationId: logout
      produces:
        - application/json
      parameters:
        - in: header
          name: lang
          description: |
            리턴 메시지의 언어를 구별할 때 사용한다.

            현재는 'en', 'ko' 두가지 값이 있으며

            헤더를 설정하지 않은 경우 기본값으로 'en'값이 설정된다.
          type: string
        - in: header
          name: access-token
          description: 사용자 접근 토큰
          required: true
          type: string
      responses:
        default:
          description: Successful Operation
          schema:
            $ref: '#/definitions/ResponseMessage'
        '400':
          description: 헤더로 엑세스 토큰이 전달되지 않았을 때 발생하는 에러입니다.
          schema:
            $ref: '#/definitions/ResponseMessage'
        '500':
          description: 얘기치 못한 서버 에러 시 발생
          schema:
            $ref: '#/definitions/ResponseMessage'
  # 인증메일 요청
  /user/request_auth_code:
    post:
      tags:
        - user
      summary: 인증 메일 재전송
      operationId: requestAuthCode
      produces:
        - application/json
      parameters:
        - in: header
          name: lang
          description: |
            리턴 메시지의 언어를 구별할 때 사용한다.

            현재는 'en', 'ko' 두가지 값이 있으며

            헤더를 설정하지 않은 경우 기본값으로 'en'값이 설정된다.
          type: string
        - in: body
          name: body
          description: 인증 코드를 재전송하기 위한 3분짜리 토큰 전송
          required: true
          schema:
            $ref: '#/definitions/RequestAuthCode'
      responses:
        default:
          description: Successful Operation
          schema:
            $ref: '#/definitions/ResponseMessage'
        '404':
          description: 인증 토큰이 유효하지 않을 때 발생한다.
          schema:
            $ref: '#/definitions/ResponseMessage'
        '500':
          description: 얘기치 못한 서버 에러 시 발생
          schema:
            $ref: '#/definitions/ResponseMessage'
  # 비밀번호 변경
  /user/change_password:
    put:
      tags:
        - user
      summary: 비밀번호 변경
      operationId: login
      produces:
        - application/json
      parameters:
        - in: header
          name: lang
          description: |
            리턴 메시지의 언어를 구별할 때 사용한다.

            현재는 'en', 'ko' 두가지 값이 있으며

            헤더를 설정하지 않은 경우 기본값으로 'en'값이 설정된다.
          type: string
        - in: header
          name: access-token
          description: 사용자 접근 토큰
          required: true
          type: string
        - in: body
          name: body
          description: 예전 비밀번호와 현재 비밀번호
          required: true
          schema:
            $ref: '#/definitions/ChangePassword'
      responses:
        default:
          description: Successful Operation
          schema:
            $ref: '#/definitions/ResponseMessage'
        '401':
          description: 접근토큰이 유효하지 않을 때 발생한다.
          schema:
            $ref: '#/definitions/ResponseMessage'
        '404':
          description: 기존 비밀번호가 일치하지 않은 경우 발생한다.
          schema:
            $ref: '#/definitions/ResponseMessage'
        '500':
          description: 얘기치 못한 서버 에러 시 발생
          schema:
            $ref: '#/definitions/ResponseMessage'
  # 사용자 이름 중복 체크
  /user/validate_email:
    post:
      tags:
        - user
      summary: 사용자 이메일 유효형 검증
      description: |
        이메일을 계정 ID로 사용할 수 있는지 여부를 체크해서 결과값을 true, false로 리턴한다.
      operationId: validateEmail
      produces:
        - application/json
      parameters:
        - in: header
          name: lang
          description: |
            리턴 메시지의 언어를 구별할 때 사용한다.

            현재는 'en', 'ko' 두가지 값이 있으며

            헤더를 설정하지 않은 경우 기본값으로 'en'값이 설정된다.
          type: string
        - in: body
          name: body
          description: 이메일
          required: true
          schema:
            $ref: '#/definitions/ValidationEmailForm'
      responses:
        default:
          description: Successful Operation
          schema:
            $ref: '#/definitions/EmailValidated'
        '500':
          description: 얘기치 못한 서버 에러 시 발생
          schema:
            $ref: '#/definitions/ResponseMessage'
  # 사용자 이름 중복 체크
  /user/validate_name:
    post:
      tags:
        - user
      summary: 사용자 이름 유효형 검증
      description: |
        사용자 이름을 사용할 수 있는지 여부를 체크해서 결과값을 true, false로 리턴한다.

        다만, 만약 ios@liveen.io의 이름이 David Lee인데 회원정보 수정 화면에서 David Lee로 적었을 때 이름이 중복된다고 막으면 안되기 때문에

        그 부분을 검증하기 위해서 이메일과 이름 두개의 필드를 받아야 한다.
      operationId: validateName
      produces:
        - application/json
      parameters:
        - in: header
          name: lang
          description: |
            리턴 메시지의 언어를 구별할 때 사용한다.

            현재는 'en', 'ko' 두가지 값이 있으며

            헤더를 설정하지 않은 경우 기본값으로 'en'값이 설정된다.
          type: string
        - in: body
          name: body
          description: 이메일과 이름
          required: true
          schema:
            $ref: '#/definitions/ValidationNameForm'
      responses:
        default:
          description: Successful Operation
          schema:
            $ref: '#/definitions/NameValidated'
        '500':
          description: 얘기치 못한 서버 에러 시 발생
          schema:
            $ref: '#/definitions/ResponseMessage'
  # 예상 코인 지급조회
  /user/paid_veens:
    get:
      tags:
        - user
      summary: 예상코인 지급조회
      description: 현재 회차에서 지급 할 예상 코인을 조회한다.
      operationId: paidVeen
      produces:
        - application/json
      parameters:
        - in: header
          name: lang
          description: |
            리턴 메시지의 언어를 구별할 때 사용한다.

            현재는 'en', 'ko' 두가지 값이 있으며

            헤더를 설정하지 않은 경우 기본값으로 'en'값이 설정된다.
          type: string
        - in: header
          name: access-token
          description: 사용자 접근 토큰
          required: true
          type: string
      responses:
        default:
          description: Successful Operation
          schema:
            $ref: '#/definitions/ExpectedPaidVeen'
  # 전체 사용자 수 조회
  /user/total_users:
    get:
      tags:
        - user
      summary: 전체 사용자 수를 조회한다.
      operationId: totalUsers
      produces:
        - application/json
      parameters:
        - in: header
          name: lang
          description: |
            리턴 메시지의 언어를 구별할 때 사용한다.

            현재는 'en', 'ko' 두가지 값이 있으며

            헤더를 설정하지 않은 경우 기본값으로 'en'값이 설정된다.
          type: string
      responses:
        default:
          description: Successful Operation
          schema:
            $ref: '#/definitions/TotalUsers'
  # 설정정보 조회기능
  /user/setting/get:
    get:
      tags:
        - user
      summary: 현재 설정정보를 조회한다.
      operationId: settingGet
      produces:
        - application/json
      parameters:
        - in: header
          name: lang
          description: |
            리턴 메시지의 언어를 구별할 때 사용한다.

            현재는 'en', 'ko' 두가지 값이 있으며

            헤더를 설정하지 않은 경우 기본값으로 'en'값이 설정된다.
          type: string
        - in: header
          name: access-token
          description: 사용자 접근 토큰
          required: true
          type: string
      responses:
        default:
          description: Successful Operation
          schema:
            $ref: '#/definitions/SettingsGet'
        '401':
          description: 접근토큰이 유효하지 않을 때 발생한다.
          schema:
            $ref: '#/definitions/ResponseMessage'
  # 설정정보 설정기능
  /user/setting/set:
    put:
      tags:
        - user
      summary: 현재 사용자의 설정 정보를 변경한다.
      operationId: settingSet
      produces:
        - application/json
      parameters:
        - in: header
          name: lang
          description: |
            리턴 메시지의 언어를 구별할 때 사용한다.

            현재는 'en', 'ko' 두가지 값이 있으며

            헤더를 설정하지 않은 경우 기본값으로 'en'값이 설정된다.
          type: string
        - in: header
          name: access-token
          description: 사용자 접근 토큰
          required: true
          type: string
        - in: body
          name: body
          description: 설정 할 정보를 넘겨준다.
          required: true
          schema:
            $ref: '#/definitions/SettingsSet'
      responses:
        default:
          description: Successful Operation
          schema:
            $ref: '#/definitions/ResponseMessage'
        '401':
          description: 접근토큰이 유효하지 않을 때 발생한다.
          schema:
            $ref: '#/definitions/ResponseMessage'
  # 설정정보 설정기능
  /user/setting/toggle:
    put:
      tags:
        - user
      summary: 현재 설정정보를 전환한다.
      operationId: settingToggle
      produces:
        - application/json
      parameters:
        - in: header
          name: lang
          description: |
            리턴 메시지의 언어를 구별할 때 사용한다.

            현재는 'en', 'ko' 두가지 값이 있으며

            헤더를 설정하지 않은 경우 기본값으로 'en'값이 설정된다.
          type: string
        - in: header
          name: access-token
          description: 사용자 접근 토큰
          required: true
          type: string
        - in: body
          name: body
          description: 현재 회원의 on/off할 설정항목을 지정해서 넘겨준다.
          required: true
          schema:
            $ref: '#/definitions/SettingsToggle'
      responses:
        default:
          description: Successful Operation
          schema:
            $ref: '#/definitions/ResponseMessage'
        '401':
          description: 접근토큰이 유효하지 않을 때 발생한다.
          schema:
            $ref: '#/definitions/ResponseMessage'
  # 지갑 입출금 내역 조회
  /wallet/transactions:
    get:
      tags:
        - wallet
      summary: 송금내역조회
      operationId: fetchTransactions
      produces:
        - application/json
      parameters:
        - in: header
          name: lang
          description: |
            리턴 메시지의 언어를 구별할 때 사용한다.

            현재는 'en', 'ko' 두가지 값이 있으며

            헤더를 설정하지 않은 경우 기본값으로 'en'값이 설정된다.
          type: string
        - in: header
          name: access-token
          description: 사용자 접근 토큰
          required: true
          type: string
        - in: query
          name: filter
          description: all, sent, received or reward 디폴트 값으로 all이 설정된다.
          type: string
        - in: query
          name: from
          type: string
          description: 시간 조회 조건(UTC)
        - in: query
          name: until
          type: string
          description: 시간 조회 조건(UTC)
      responses:
        default:
          description: Successful Operation
          schema:
            $ref: '#/definitions/Transactions'
        '401':
          description: 접근토큰이 유효하지 않을 때 발생한다.
          schema:
            $ref: '#/definitions/ResponseMessage'
        '500':
          description: 서버 에러
          schema:
            $ref: '#/definitions/ResponseMessage'
  # 지갑 입출금 내역 조회
  /wallet/expected_veens:
    get:
      tags:
        - wallet
      summary: 위치 히스토리
      operationId: expectedVeens
      produces:
        - application/json
      parameters:
        - in: header
          name: lang
          description: |
            리턴 메시지의 언어를 구별할 때 사용한다.

            현재는 'en', 'ko' 두가지 값이 있으며

            헤더를 설정하지 않은 경우 기본값으로 'en'값이 설정된다.
          type: string
        - in: header
          name: access-token
          description: 사용자 접근 토큰
          required: true
          type: string
        - in: query
          name: date
          description: 내역을 조회 할 일자를 적는다. 예를 들어 '2018-02-01'이라고 적으면 해당 일자의 내역을 조회해서 리턴한다.
          type: string
      responses:
        default:
          description: Successful Operation
          schema:
            $ref: '#/definitions/ExpectedVeens'
        '401':
          description: 접근토큰이 유효하지 않을 때 발생한다.
          schema:
            $ref: '#/definitions/ResponseMessage'
        '500':
          description: 서버 에러
          schema:
            $ref: '#/definitions/ResponseMessage'
  # 위치 정보 업로드
  /content:
    post:
      tags:
        - content
      summary: 위치 정보 업로드
      operationId: uploadLocation
      produces:
        - application/json
      parameters:
        - in: header
          name: lang
          description: |
            리턴 메시지의 언어를 구별할 때 사용한다.

            현재는 'en', 'ko' 두가지 값이 있으며

            헤더를 설정하지 않은 경우 기본값으로 'en'값이 설정된다.
          type: string
        - in: header
          name: access-token
          description: 사용자 접근 토큰
          required: true
          type: string
        - in: body
          name: body
          description: 위치 정보.
          required: true
          schema:
            $ref: '#/definitions/UploadLocation'
      responses:
        default:
          description: Successful Operation
          schema:
            $ref: '#/definitions/ResponseMessage'
        '400':
          description: 입력값의 형식이 틀렸을 때 발생
          schema:
            $ref: '#/definitions/FormError'
        '401':
          description: 접근토큰이 유효하지 않을 때 발생한다.
          schema:
            $ref: '#/definitions/ResponseMessage'
        '500':
          description: 업로드에 실패했을 때 발생합니다.
          schema:
            $ref: '#/definitions/ResponseMessage'
  /content/nearby:
    post:
      tags:
        - content
      summary: 최근 24시간 위치 조회
      operationId: searchNearby
      description: 현재 주어진 위도 경도 주변에서 내 동선정보를 가져온다.
      produces:
        - application/json
      parameters:
        - in: header
          name: lang
          description: |
            리턴 메시지의 언어를 구별할 때 사용한다.

            현재는 'en', 'ko' 두가지 값이 있으며

            헤더를 설정하지 않은 경우 기본값으로 'en'값이 설정된다.
          type: string
        - in: header
          name: access-token
          description: 사용자 접근 토큰
          required: true
          type: string
        - in: body
          name: body
          description: 주어진 검색조건으로 기반해서 주변위치를 검색한다.
          required: true
          schema:
            $ref: '#/definitions/SearchNearLocation'
      responses:
        default:
          description: Successful Operation
          schema:
            $ref: '#/definitions/Content'
        '400':
          description: 입력값의 형식이 틀렸을 때 발생
          schema:
            $ref: '#/definitions/FormError'
        '401':
          description: 접근토큰이 유효하지 않을 때 발생한다.
          schema:
            $ref: '#/definitions/ResponseMessage'
        '500':
          description: 업로드에 실패했을 때 발생합니다.
          schema:
            $ref: '#/definitions/ResponseMessage'
  /content/behavior:
    put:
      tags:
        - content
      summary: 체크인 API
      operationId: addBehavior
      description: |
        10분마다 수집한 위치에다가 특정 행동을 기록한다. (의료, 쇼핑, 식사 등등)

        행동을 수정할 때도 같은 API를 사용하면 된다.
      produces:
        - application/json
      parameters:
        - in: header
          name: lang
          description: |
            리턴 메시지의 언어를 구별할 때 사용한다.

            현재는 'en', 'ko' 두가지 값이 있으며

            헤더를 설정하지 않은 경우 기본값으로 'en'값이 설정된다.
          type: string
        - in: header
          name: access-token
          description: 사용자 접근 토큰
          required: true
          type: string
        - in: body
          name: body
          description: Beta Test Verification
          required: true
          schema:
            $ref: '#/definitions/AddBehaviorToLocation'
      responses:
        default:
          description: Successful Operation
          schema:
            $ref: '#/definitions/ResponseMessage'
        '400':
          description: 입력값의 형식이 틀렸을 때 발생
          schema:
            $ref: '#/definitions/FormError'
        '401':
          description: 접근토큰이 유효하지 않을 때 발생한다.
          schema:
            $ref: '#/definitions/ResponseMessage'
        '404':
          description: 일치하는 locationId가 내것이 아니거나 존재하지 않을 때
          schema:
            $ref: '#/definitions/ResponseMessage'
        '500':
          description: 업로드에 실패했을 때 발생합니다.
          schema:
            $ref: '#/definitions/ResponseMessage'
  # 단일 컨텐츠 조회
  /content/content:
    post:
      tags:
        - content
      summary: 단일 컨텐츠 조회
      operationId: getOneContent
      produces:
        - application/json
      parameters:
        - in: header
          name: lang
          description: |
            리턴 메시지의 언어를 구별할 때 사용한다.

            현재는 'en', 'ko' 두가지 값이 있으며

            헤더를 설정하지 않은 경우 기본값으로 'en'값이 설정된다.
          type: string
        - in: header
          name: access-token
          description: 사용자 접근 토큰
          required: true
          type: string
        - in: body
          name: body
          description: 위치 정보.
          required: true
          schema:
            type: object
            properties: 
              contentId: 
                description: 콘텐트 ID
                type: string
      responses:
        default:
          description: Successful Operation
          schema:
            $ref: '#/definitions/OneContent'
        '400':
          description: 입력값의 형식이 틀렸을 때 발생
          schema:
            $ref: '#/definitions/FormError'
        '401':
          description: 접근토큰이 유효하지 않을 때 발생한다.
          schema:
            $ref: '#/definitions/ResponseMessage'
        '500':
          description: 업로드에 실패했을 때 발생합니다.
          schema:
            $ref: '#/definitions/ResponseMessage'
  # 개인정보처리방침
  /policy/personal_information:
    get:
      tags:
        - policy
      summary: 개인정보처리방침
      description: 개인정보처리방침을 조회하는 웹 페이지이다. HTML형태로 보여주며 모바일 내에서 웹 뷰로 호출하면 된다.
      operationId: policyPersonalInformation
      produces:
        - application/json
      parameters:
        - in: header
          name: lang
          description: |
            리턴 메시지의 언어를 구별할 때 사용한다.

            현재는 'en', 'ko' 두가지 값이 있으며

            헤더를 설정하지 않은 경우 기본값으로 'en'값이 설정된다.
          type: string
      responses:
        default:
          description: Successful Operation
  # 위치기반 서비스 이용약관
  /policy/location:
    get:
      tags:
        - policy
      summary: 위치기반 서비스 이용약관
      description: 위치기반 서비스 이용약관을 조회하는 웹 페이지이다. HTML형태로 보여주며 모바일 내에서 웹 뷰로 호출하면 된다.
      operationId: policyLocation
      produces:
        - application/json
      parameters:
        - in: header
          name: lang
          description: |
            리턴 메시지의 언어를 구별할 때 사용한다.

            현재는 'en', 'ko' 두가지 값이 있으며

            헤더를 설정하지 않은 경우 기본값으로 'en'값이 설정된다.
          type: string
      responses:
        default:
          description: Successful Operation
  # 이용약관
  /policy/terms_and_condition:
    get:
      tags:
        - policy
      summary: 이용약관
      description: 이용약관을 조회하는 웹 페이지이다. HTML형태로 보여주며 모바일 내에서 웹 뷰로 호출하면 된다.
      operationId: policyTermsAndCondition
      produces:
        - application/json
      parameters:
        - in: header
          name: lang
          description: |
            리턴 메시지의 언어를 구별할 때 사용한다.

            현재는 'en', 'ko' 두가지 값이 있으며

            헤더를 설정하지 않은 경우 기본값으로 'en'값이 설정된다.
          type: string
      responses:
        default:
          description: Successful Operation
  # 오픈소스 이용고지
  /policy/open_source:
    get:
      tags:
        - policy
      summary: 오픈소스 이용고지
      description: 오픈소스 이용고지를 조회하는 웹 페이지이다. HTML형태로 보여주며 모바일 내에서 웹 뷰로 호출하면 된다.
      operationId: policyOpenSource
      produces:
        - application/json
      parameters:
        - in: header
          name: lang
          description: |
            리턴 메시지의 언어를 구별할 때 사용한다.

            현재는 'en', 'ko' 두가지 값이 있으며

            헤더를 설정하지 않은 경우 기본값으로 'en'값이 설정된다.
          type: string
      responses:
        default:
          description: Successful Operation
  # 국가 코드 리스트 조회
  /common/nation_codes:
    get:
      tags:
        - common
      summary: 국가 코드 리스트 조회
      description: 국가 코드 리스트를 조회한다
      operationId: nationCodes
      produces:
        - application/json
      parameters:
        - in: header
          name: lang
          description: |
            리턴 메시지의 언어를 구별할 때 사용한다.

            현재는 'en', 'ko' 두가지 값이 있으며

            헤더를 설정하지 않은 경우 기본값으로 'en'값이 설정된다.
          type: string
      responses:
        default:
          description: Successful Operation
          schema:
            $ref: '#/definitions/NationCodes'
  # 앱 최신 버전조회
  /common/app_version:
    get:
      tags:
        - common
      summary: 앱 최신 버전조회
      description: 안드로이드 및 아이폰 별 앱의 최신버전을 조회한다.
      operationId: appVersion
      produces:
        - application/json
      parameters:
        - in: header
          name: lang
          description: |
            리턴 메시지의 언어를 구별할 때 사용한다.

            현재는 'en', 'ko' 두가지 값이 있으며

            헤더를 설정하지 않은 경우 기본값으로 'en'값이 설정된다.
          type: string
        - in: header
          name: os
          description: 앱 버전을 조회하는 키워드이다. 'android' | 'ios'로 구분한다.
          type: string
      responses:
        default:
          description: Successful Operation
          schema:
            $ref: '#/definitions/AppVersion'
  # 앱 심사 진행 여부
  /common/in_review:
    get:
      tags:
        - common
      summary: 앱 심사 진행 여부
      description: 아이폰 앱스토어 앱 심사 진행중인지 아닌지 여부를 리턴한다.
      operationId: appIsInReview
      produces:
        - application/json
      parameters:
        - in: header
          name: lang
          description: |
            리턴 메시지의 언어를 구별할 때 사용한다.

            현재는 'en', 'ko' 두가지 값이 있으며

            헤더를 설정하지 않은 경우 기본값으로 'en'값이 설정된다.
          type: string
      responses:
        default:
          description: Successful Operation
          schema:
            $ref: '#/definitions/IsInReview'
  # 푸시 리스트 조회
  /push/gets:
    get:
      tags:
        - push
      summary: 푸시 아이템 리스트 조회
      description: 푸시 아이템을 조회한다.
      operationId: pushList
      produces:
        - application/json
      parameters:
        - in: header
          name: lang
          description: |
            리턴 메시지의 언어를 구별할 때 사용한다.

            현재는 'en', 'ko' 두가지 값이 있으며

            헤더를 설정하지 않은 경우 기본값으로 'en'값이 설정된다.
          type: string
        - in: header
          name: access-token
          description: 사용자 접근 토큰
          required: true
          type: string
      responses:
        default:
          description: Successful Operation
          schema:
            $ref: '#/definitions/PushList'
  # 푸시 아이템 읽음
  /push/read:
    put:
      tags:
        - push
      summary: 푸시 아이템 읽음 처리
      description: 특정 푸시 아이템의 상태를 읽음으로 변경한다.
      operationId: readPush
      produces:
        - application/json
      parameters:
        - in: header
          name: lang
          description: |
            리턴 메시지의 언어를 구별할 때 사용한다.

            현재는 'en', 'ko' 두가지 값이 있으며

            헤더를 설정하지 않은 경우 기본값으로 'en'값이 설정된다.
          type: string
        - in: header
          name: access-token
          description: 사용자 접근 토큰
          required: true
          type: string
        - in: body
          name: body
          description: Push Read
          required: true
          schema:
            $ref: '#/definitions/ReadPushForm'
      responses:
        default:
          description: Successful Operation
  # 푸시 키 등록
  /push/reg:
    post:
      tags:
        - push
      summary: 회원의 푸시키를 등록한다.
      description: 특정 회원의 푸시키를 등록한다.
      operationId: addPushKey
      produces:
        - application/json
      parameters:
        - in: header
          name: lang
          description: |
            리턴 메시지의 언어를 구별할 때 사용한다.

            현재는 'en', 'ko' 두가지 값이 있으며

            헤더를 설정하지 않은 경우 기본값으로 'en'값이 설정된다.
          type: string
        - in: header
          name: access-token
          description: 사용자 접근 토큰
          required: true
          type: string
        - in: body
          name: body
          description: Push Read
          required: true
          schema:
            $ref: '#/definitions/PushTokenRegForm'
      responses:
        default:
          description: Successful Operation
  # 푸시 전체 삭제
  /push/deleteAll:
    delete:
      tags:
        - push
      summary: 회원의 전체 푸시를 삭제한다.
      description: 푸시 삭제
      operationId: deletePushAll
      produces:
        - application/json
      parameters:
        - in: header
          name: lang
          description: |
            리턴 메시지의 언어를 구별할 때 사용한다.

            현재는 'en', 'ko' 두가지 값이 있으며

            헤더를 설정하지 않은 경우 기본값으로 'en'값이 설정된다.
          type: string
        - in: header
          name: access-token
          description: 사용자 접근 토큰
          required: true
          type: string
      responses:
        default:
          description: Successful Operation
  # 푸시 전송
  /push/send:
    post:
      tags:
        - push
      summary: 회원 전체에 푸시를 발송한다.
      description: 푸시 전송
      operationId: sendPush
      produces:
        - application/json
      parameters:
        - in: header
          name: AUTH-KEY
          description: 값을 LIVEEN-ADMIN으로 설정하시면 됩니다.
          type: string
        - in: body
          name: body
          description: Push Send Form
          required: true
          schema:
            $ref: '#/definitions/PushSendForm'
      responses:
        default:
          description: Successful Operation
definitions:
  ErrorField:
    type: object
    properties:
      userId:
        description: '키에는 에러가 발생한 소스 값이 들어가고 내용에는 에러 메시지를 보여줍니다.'
        type: string
        example: '아이디 입력값은 반드시 입력해야 합니다.'
  FormError:
    type: object
    properties:
      userId:
        description: '키에는 에러가 발생한 소스 값이 들어가고 내용에는 에러 메시지를 보여줍니다.'
        type: array
        items:
          type: string
          example: '아이디 입력값은 반드시 입력해야 합니다.'
      password:
        description: '키에는 에러가 발생한 소스 값이 들어가고 내용에는 에러 메시지를 보여줍니다.'
        type: array
        items:
          type: string
          example: '비밀번호 입력값은 반드시 입력해야 합니다.'
  ResponseMessage:
    type: object
    properties:
      resmessage:
        description: '응답 메시지'
        type: string
        example: Successfully created.
  Id:
    type: integer
    format: int64
  ApplyWallet:
    type: object
    properties:
      walletAddress:
        description: 지갑 주소 값
        type: string
      publicKey:
        description: 지갑의 공개키
        type: string
  VerifyBetaTester:
    type: object
    properties:
      ticket:
        description: QR코드 프라이빗키를 해싱한 값
        type: string
  VerifyPromotion:
    type: object
    properties:
      promotionCode:
        description: 프로모션 코드
        type: string
        emample: a123456789
  ActivateEmail:
    type: object
    properties:
      activationCode:
        description: 이메일로 전송된 인증번호
        type: string
      email:
        description: 이메일
        type: string
  CreateUser:
    type: object
    properties:
      name:
        description: 사용자 이름
        type: string
        example: David Lee
      email:
        description: 이메일 주소, 실질적으로 아이디로 사용한다.
        type: string
        example: cailhuiris@finotek.co.kr
      password:
        description: '사용자 비밀번호'
        type: string
        format: password
        example: fino1838tek!!@#
      promotionCode:
        description: 프로모션 코드
        type: string
        example: a123456789
  UpdateUser:
    type: object
    properties:
      name:
        description: 사용자 이름
        type: string
        example: David Lee
      introduction:
        description: 사용자 소개글
        type: string
      birthdate:
        description: 생년월일 (Ymd)
        type: string
        example: 19931203
      gender:
        description: 사용자 성별 ( '남자=m', '여자=f', '기타=e')
        type: string
        example: m/f
      nationality:
        description: 국적 입력
        type: string
        example: ko-KR
  UserProfileUpload:
    type: object
    properties:
      imageUrl:
        description: 업로드 된 프로필 사진 URL, 해당 필드가 주어지지 않은 경우엔 default 사진을 보여준다.
        type: string
        example: https://s3-aws.amazon.com/reahrkahr/weqhehuih/profile.png
  User:
    type: object
    properties:
      userId:
        description: 사용자의 index
        type: integer
        example: 1
      name:
        description: 사용자 이름
        type: string
        example: David Lee
      email:
        description: 이메일 주소, 실질적으로 아이디로 사용한다.
        type: string
        example: cailhuiris@finotek.co.kr
      profileImage:
        description: 프로필 사진 URL
        type: string
        example: https://s3-aws.amazon.com/reahrkahr/weqhehuih/profile.png
      walletAddress:
        description: 사용자의 지갑 주소
        type: string
        example: 0x93BC4bec6D678e8e74bB9EC3e1Be5EDfA608e2B6a123n
      introduction:
        description: 사용자 소개글
        type: string
      birth:
        description: 생년/월일
        type: string
        example: 1993/12/03
      gender:
        description: 사용자 성별 ( '남자=m', '여자=f', '기타=e')
        type: string
        example: m/f
      promotionCode:
        description: 프로모션 코드
        type: string
        example: a123456789
      nation:
        description: 국가 정보
        type: object
        properties:
          nationCode: 
            description: 국가 코드
            type: string
            example: ko
          nationName:
            description: 국가 이름
            type: string
            example: Republic of Korea.
      isActive:
        description: 이메일 인증 여부, 1인경우에는 인증되었고 0인경우에는 인증되지 않은 회원이다.
        type: integer
        example : 1
      veenRanking:
        description: 빈 소유 랭킹
        type: integer
        example: 1
      registrationRanking:
        description: 가입 순위 랭킹
        type: integer
        example: 1
  Login:
    type: object
    properties:
      email:
        description: 사용자 이메일
        type: string
        example: cailhuiris@finotek.co.kr
      password:
        description: 비밀번호
        type: string
        example: 128h83hFinotekn12bu!!
      os:
        description: OS 정보
        type: string
      model:
        description: 기기 모델명
        type: string
      deviceUUID: 
        description: 기기 고유값
        type: string
      appPushKey:
        description: 앱 푸시키
        type: string
  LoginResult:
    type: object
    properties:
      accessToken:
        description: 사용자 권한 접근 토큰
        type: string
        example: ASdni1erahrkhudbqASdjiejirjaks89doihweo
      temporallyLogined:
        description: |
          임시비밀번호로 로그인 했는지 여부를 리턴한다.

          임시비밀번호로 로그인 했으면 true, 정상 비밀번호로 로그인했으면 false를 리턴한다.
        type: boolean
        example: false
  OnlyEmail:
    type: object
    properties:
      email:
        description: 임시비밀번호를 발송할 이메일 주소
        type: string
        example: ios@liveen.io
  LoginFailedResult:
    type: object
    properties:
      resmessage:
        description: 서버 리턴 메시지
        type: string
      loginFailedCount:
        description: 로그인 실패 횟수 카운트
        type: integer
  TempToken:
    type: object
    properties:
      tempToken:
        description: 인증 메일 요청을 하기 위한 임시 토큰
        type: string
      expiredAt:
        description: 토큰 만료 일자
        type: date-time
  RequestAuthCode:
    type: object
    properties:
      email:
        description: 사용자 이메일
        type: string
      password:
        description: 사용자 비밀번호
        type: string
  AuthCode:
    type: object
    properties:
      authCode:
        description: 인증번호
        type: string
  ChangePassword:
    type: object
    properties:
      oldPassword:
        description: 기존 비밀번호
        type: string
      newPassword:
        description: 새 비밀번호
        type: string
  ValidationEmailForm:
    type: object
    properties:
      email:
        description: 중복 체크 할 회원 이메일
        type: string
  EmailValidated:
    type: object
    properties:
      isValid:
        description: 사용할 수 있는 이메일인지 아닌 지 여부를 리턴한다. 사용할 수 없는 이메일이면 `false`를 사용할 수 있는 이메일이면 `true`를 리턴한다.
        type: boolean
  ValidationNameForm:
    type: object
    properties:
      name:
        description: 중복 체크 할 이름
        type: string
      email:
        description: 회원 이메일
        type: string
  NameValidated:
    type: object
    properties:
      isValid:
        description: 사용할 수 있는 닉네임인지 아닌 지 여부를 리턴한다. 사용할 수 없는 닉네임이면 `false`를 사용할 수 있는 닉네임이면 `true`를 리턴한다.
        type: boolean
  FindPassword:
    type: object
    properties:
      email:
        description: 비밀번호를 찾을 이메일 주소 값 입력
        type: string
  TotalUsers:
    type: object
    properties:
      total:
        description: 전체 사용자 수
        type: integer
  RegistrationRanking:
    type: object
    properties:
      rank:
        description: 가입 순위
        type: integer
  VeenRanking:
    type: object
    properties:
      veens:
        description: 자신의 빈 소유 개수 조회
        type: integer
      rank:
        description: 빈 소유 순위
        type: integer
  SettingsGet:
    type: object
    properties:
      location:
        description: 위치정보 수집 동의 (y=1,n=0)
        type: integer
        example: 1
  SettingsSet:
    type: object
    properties:
      location:
        description: 위치정보 수집 동의 항목 (y=1,n=0)
        type: integer
        example: 1
  SettingsToggle:
    type: object
    properties:
      settingItem:
        description: 설정 정보 중 on/off 토글 할 항목을 지정한다.
        type: string
        example: location
  UploadLocation:
    type: object
    properties:
      latitude:
        description: 위도
        type: float
        example: 37.5662952
      longitude:
        description: 경도
        type: float
        example: 126.97794509999994
      isCheckIn:
        description: 체크인인지 / 자동인지 여부
        type: boolean
        example: true
      timestamp:
        description:  현재 시간(UTC)
        type: integer
      locationString:
        description: userId, latitude, longitude, timestamp의 json string
        type: string
      locationSignature:
        description: locatoinString의 서명
        type: string
      publicKey:
        description: 공개 키
        type: string
      timeZone:
        type: integer
        description: 컨텐츠의 시간대
  SearchNearLocation:
    type: object
    properties: 
      latitude:
        description: 위도
        type: float
      longitude:
        description: 경도
        type: float
      nowtime:
        description: 현재 폰 기준의 timestamp (UTC Timestamp)
        type: integer
  Content:
    type: object
    properties:
      locations:
        type: array
        items:
          type: object
          properties:
            contentId:
              description: 컨텐츠 ID
              type: integer
            userId:
              description: 사용자 아이디
              type: integer
            latitude:
              description: 위도
              type: float
              example: 37.5662952
            longitude:
              description: 경도
              type: float
              example: 126.97794509999994
            isCheckIn:
              description: 체크인인지 아닌지 여부 (내가 의도적으로 위치를 지정했는지 아닌지 차이)
              type: boolean
              example: true
            hashtag:
              description: 해시태그
              type: array
              items:
                type: string
                example: 쇼핑
            behavior:
              description: 행동을 나타내는 코드
              type: string
              example: SHOP
            createdAt:
              description: 위치등록일(UTC)
              type: date-time
            timeZone:
              description: 시간대
              type: integer,
            canBeUpdated:
              description: 수정 가능 여부, 수정 가능하면 true 가능하지 않으면 false
              type: boolean
            expected:
              description: 예상 흭득 VEEN
              type: double
            received:
              description: VEEN을 흭득했는지 여부, 아직 VEEN을 받지 못한 경우에는 실제로 받은 VEEN(actual)의 값이 0이 된다.
              type: boolean
  OneContent:
    type: object
    properties:
      contentId:
        description: 컨텐츠 ID
        type: integer
      userId:
        description: 사용자 아이디
        type: integer
      latitude:
        description: 위도
        type: float
        example: 37.5662952
      longitude:
        description: 경도
        type: float
        example: 126.97794509999994
      isCheckIn:
        description: 체크인인지 아닌지 여부 (내가 의도적으로 위치를 지정했는지 아닌지 차이)
        type: boolean
        example: true
      hashtag:
        description: 해시태그
        type: array
        items:
          type: string
          example: 쇼핑
      behavior:
        description: 행동을 나타내는 코드
        type: string
        example: SHOP
      createdAt:
        description: 위치등록일(UTC)
        type: date-time
      timeZone:
        description: 시간대
        type: integer,
      canBeUpdated:
        description: 수정 가능 여부, 수정 가능하면 true 가능하지 않으면 false
        type: boolean
      expected:
        description: 예상 흭득 VEEN
        type: double
      expectedBasic:
        description: 예상 흭득 기본 VEEN 
        type: double
      expectedAdditional:
        description: 예상 추가 적립 VEEN 
        type: double
      received:
        description: VEEN을 흭득했는지 여부, 아직 VEEN을 받지 못한 경우에는 실제로 받은 VEEN(actual)의 값이 0이 된다.
        type: boolean
  AddBehaviorToLocation:
    type: object
    properties:
      contentId:
        description: 컨텐츠 ID
        type: integer
        example: 1
      behavior:
        description: 행동 기록
        type: string
        example: HOME
      hashtag:
        description: 해시태그
        type: array
        items:
          type: string
          example: 쇼핑
      timestamp:
        description:  현재 시간(UTC)
        type: integer
  Transactions:
    type: array
    items:
      type: object
      properties:
        type:
          description: 송금인지, 입금인지 나타낸다. ('s', 'r') 로 구분한다.
          type: string
          example: s
        amount:
          description: VEEN 의 양
          type: integer
          example: 10000
        from:
          description: 보낸이 주소
          type: string
          example: 0xeirne38y37h47h454j54h84h
        to:
          description: 받은이 주소 (나한테 입근된거라면 to의 주소는 내 주소가 된다.)
          type: string
          example: 0xeirne38y37h47h454j54h84h
        sender:
          description: 보낸 이 이름
          type: string
        receiver:
          description: 받은 이 이름
          type: string
        date:
          description: 거래가 이루어진 날짜
          type: date-time
        succeeded:
          description: 성공 여부 (0 이면 실패, 1 이면 성공한 거래, -1이면 pending중인 거래)
          type: integer
          example: 1
  ExpectedVeens:
    type: object
    properties:
      expectedVeens:
        type: array
        items:
          type: object
          properties:
            contentId:
              description: 컨텐츠 ID (UUID)
              type: string
              example: 5b4d4bd3fb6170b8c8c1b395
            behavior:
              description: 행동 기록
              type: string
              example: DINNER
            hashtag:
              description: 해시태그
              type: array
              items:
                type: string
                example: 쇼핑
            address:
              description: 기록된 주소
              type: string
              example: 서울특별시 서초구 우면동 태봉로 140
            time:
              description: 기록된 시간
              type: string
              example: 12:20
            isCheckIn:
              description: 체크인 여부
              type: boolean
              example: true
            expected:
              description: 흭득 예상 빈
              type: double
              example: 10
            earned:
              description: 실제로 받은 빈의 수
              type: double
              example: 5
            isEarned: 
              description: 해당 컨텐츠로 실제로 빈을 받은건지 아닌지 여부
              type: boolean
              example: true
  SendTransaction:
    type: object
    properties:
      toAddress:
        description: 받는 이 주소
        type: string
      amount:
        description: Veen 금액
        type: integer
      publicKey:
        description: 트랜잭션 서명 공개 키
        type: string
      signature:
        description: 트랜잭션 서명
        type: string
  Unauthorized:
    type: object
    properties:
      source:
        description: 에러가 발생한 지점
        type: string
        example: api_key
      result:
        description: 결과 메시지
        type: string
        example: Invalid api key.
  AppVersion:
    type: object
    properties:
      version:
        description: 앱 버전
        type: string
        example: 1.0.0
      os:
        description: 안드로이드 및 아이폰 구분
        type: string
        example: ios
      mustBeUpdated:
        description: 반드시 업데이트 되어야 하는지 여부 조회
        type: boolean
        example: true
  IsInReview:
    type: object
    properties:
      isInReview:
        description: 앱스토어 심사여부, 심사 중이라면 True 아니라면 False를 리턴한다.
        type: string
        example: false
  NationCodes:
    type: object
    properties:
      nations:
        type: array
        items:
          type: object
          properties:
            nationCode:
              description: 국가 코드
              type: string
              example: kr
            nationName:
              description: 국가 이름
              type: string
              example: Republic of Korea
  ExpectedPaidVeen:
    type: object
    properties:
      date:
        description: 현재 일자
        type: string
        example: 2018-08-01
      paidVeen:
        description: 지급 예정 개수
        type: double
        example: 1000
  PushList:
    type: object
    properties:
      items:
        type: array
        items:
          type: object
          properties:
            pushId:
              description: 푸시 아이템 ID
              type: integer
              example: 1
            type:
              description: |
                푸시 타입

                (리워드: reward, 송금: tx, 공지: notice)
              type: string
              example: message
            title:
              description: 푸시 메시지 제목
              type: string
              example: title
            body:
              description: 푸시 메시지 내용
              type: string
              example: body
            read:
              description: 푸시 내용을 읽었는지 여부
              type: boolean
              example: body
  ReadPushForm:
    type: object
    properties:
      pushId:
        description: 푸시 아이템 ID
        type: integer
        example: 1
  PushTokenRegForm:
    type: object
    properties:
      appPushKey:
        description: 푸시 키 등록
        type: string
        example: pushkey
  PushSendForm:
    type: object
    properties:
      title:
        description: 푸시 타이틀
        type: string
        example: New Announcement.
      body:
        description: 푸시 내용
        type: string
        example: bla bla bla
      type:
        description: |
          푸시 타입 
          
          (리워드: reward, 송금: tx, 공지: notice)
        type: string
        example: message
      link:
        description: 푸시 타입이 website일 경우, 아웃링크
        type: string
        example: https://www.naver.com/
  HasValidWallet:
    type: object
    properties:
      hasValidWallet:
        description: 지갑이 유효하면 true, 잘못된 주소면 false
        type: boolean
        example: true